<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>about</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>
<body>
<br><br>
<div class="container" style="  height: 200px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));">
<br>
<p>Beginning in 1991, Collabera changed the way corporate staffing solutions and services are provided. Simply put, we care about people.

Looking for a job is a tough, grinding, and often fruitless journey; so too the search to find passionate, inspired staff, capable of turning a vision into a success. The most common response to “how’s the job search going?” Usually, a loud, lengthy groan.

At Collabera, we reach out a hand to turn the search into a companionable, supportive journey. A journey that certainly doesn’t inspire groaning, and one that no one ever takes alone.

Our supportive employee network helps place talented professionals at innovative companies across the world, providing continuous support for both client and consultant throughout the length of each project.

We’re the seekers, the hunters, the pacers of pavements, wearing holes in our proverbial shoes looking for the perfect person for the project, the perfect project for the person.

At Collabera, the job isn’t where the journey starts. The job is where the dreaming turns a corner. We’re the page where a story comes to life.

Whether you’re a recent graduate hoping to get your foot in the door, a C-level professional searching for your next challenge, or a company (large or small) in need of staffing support, reach out. We’re here to help.</p>
<div class="col-md-3">

<form style="margin-top:60px;border:2px dashed pink;padding:30px;box-shadow:4px 4px lavender;">
<h1>Contact</h1>
<label>Name</label>
<input type="text" name="text" id="a" class="form-control">
<label>Email</label>
<input type="text" name="text" id="p" class="form-control"><br>
<input type="submit" class="btn btn-success" value="submit">
<input type="reset" class="btn btn-danger" value="reset"> 
</form>
<br><br>
<div style="float:left"><a href="/home"><button>Back To Home</button></a></div>
</div>

<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60572.34739846228!2d76.53194793998746!3d18.40323818707837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcf83bd7132cd29%3A0x83629bac5848da3e!2sLatur%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1645252410205!5m2!1sen!2sin" width="500" height="400" style="border:2px solid black;float:right;margin-top:30px;margin-right:100px;" ></iframe>
</div>

</body>
</html>