<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  table,th,td{
    border:2px solid black;
   
  }
  body{
  background-image: url(pic.JFIF );
  }
  
  
  </style>
</head>
<body>
<br>
<div class="container">
<h1>EMPLOYEE LIST</h1>

<table class="table table-hover">
<tr class="jumbotron">
<th>id</th>
<th>Name</th>
<th>delete</th>
</tr>
<tr th:each="std1:${xam}"> <!-- Student is key of controler std is object name  -->
<td th:utext="${std1.id}">No id available</td>
<td th:utext="${std1.name}">No id aviable</td>
<td>
<td><a th:href="@{/del{id}(id=${std1.id})}" class="btn btn-danger">delete</a></td>

</tr> 
</table>
</div>
<div><a href="/home"><button>Back To Home</button></a></div>
</body>
</html>